<div class="search-bar-container">

    <div class="search-bar-engine">
          <input class="form-control search-input" placeholder="Search" [(ngModel)]="this.searchQuery" (input)="this.fetchResults()">
      <div class="search-bar-buttons">
        <button class="btn btn-primary" (click)="onMovieSearch()">Movies</button>
        <button class="btn btn-success" (click)="onTvSearch()">Series</button>
      </div>
    </div>
  </div>
  <div class="search-result-message" *ngIf="isFetching"> 
    <p>Loading...</p>
  </div>
  <div class="search-result-message" *ngIf="!isFetching && (this.searchQuery.length > 3 ? searchResults : topRatedResults).length === 0"> 
    <p>No search results</p>
  </div>
  <div class="search-results-container" *ngIf="!isFetching && (this.searchQuery.length > 3 ? searchResults : topRatedResults).length !== 0">
    <div class="col-sm-6 col-md-4 card-container" [routerLink]="[this.searchType,result.id]" *ngFor="let result of this.searchQuery.length > 3 ? searchResults : topRatedResults">
      <div class="card result-card elevated">
        <img
          class="card-img-top"
          src={{result.landscape}}
          alt="Card cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{result.title}}</h5>
        </div>
      </div>
    </div>
  </div>
